  
footer {
    /*border: 2px solid red; */
    bottom: 0;
    width: 100%;
    display: block;
  }

 
 footer p, .col{
    font-weight: 500;
    color:#ffffff;
  }

.principal {
    height: 700px;
    display: block;
  }

  .bg-azul {
    background: linear-gradient(to left, #c706c7, #048AFF);
  }

  .nav-link {
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
  }

  .nav-link:hover{
    color: rgb(0, 0, 0);
  }

  .nav-text {
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffff;
  }
  
  .logo {
    width: 75px;
    height: 75px;
    border-radius: 75px;
  }

  .form-container{
    padding-top: 101px;
  }

.social-media{
  text-align: center;
}

.social-media p{
  margin-bottom: 0;
}

#social-media-icon{
  color: rgb(39, 39, 39);
  font-size: 25px;
  padding-right: 5px;
  padding-left: 2px;
}

.bg-grey{
  background: #282829;
  background: linear-gradient(to left, #c706c7, #048AFF);
  padding: 50px;
  
}

.map iframe{
  width: 100%;
  height: 100%;
}

.access-button{
  width: 40%!important;
  border-radius: 50px!important;
  border: 5px solid #1516161f!important;
}

.is-invalid{
  border: 2px solid red;
}

button{
  background-color: #202020!important;
  border-color: #202020!important;
  transition-duration: 0.2s!important;
}

button:hover {
  background-color: #000000!important;
}

button:active {
  transform: translateY(3px)!important;
}

/*.custom-toast-width {
  width: 200px;
}*/