/* CSS da barra de navegação e também conteudo da pagina HOME */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  body {
    min-height: 100%;
    
  }
  
  footer {
    /* border: 2px solid red; */
    bottom: 0;
    width: 100%;
  
    display: block;
  }
  
  .principal {
    height: 700px;
    display: block;
  }
  
  .imagem-carousel {
    width: 1000px;
    height: 600px;
  
    /* border: 2px solid blue; */
  }
  
  .bg-azul {
    background-color: #696a74;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }

  .nav-text {
    font-size: 1.2rem;
  }
  
  .logo {
    width: 75px;
    height: 75px;
    
  }

  @media (max-width: 550px){
    .logo {
      width: 50px;
      height: 50px;
    }

    .nav-text{
      font-size: 12px;
    }
  }
  
  /* footer{
      border: 2px solid greenyellow;
    }
    footer .row{
      border: 2px solid greenyellow;
    } */
  
  
  
  
  #area-carousel {
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 2px solid red; */
  
  }
  
  
  .carousel-caption {
  
    background-color: rgba(0, 0, 0, 0.7);
  }