/* CSS da barra de navegação e também conteudo da pagina HOME */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  body {
    min-height: 100%;
    
  }
  
  footer {
    /*border: 2px solid red; */
    bottom: 0;
    width: 100%;
    display: block;
  }

 
 footer p, .col{
    font-weight: 500;
    color:#ffffff;
  }
  
  .principal {
    height: 700px;
    display: block;
  }
  
  .imagem-carousel {
    width: 1000px;
    height: 600px;
  
    /* border: 2px solid blue; */
  }
  
  .bg-azul {
    background-color: #048AFF;
  
  }
  
  .nav-link {
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
  }

  .nav-link:hover{
    color: rgb(0, 0, 0);
  }

  .nav-text {
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffff;
  }
  
  .logo {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    
  }

  @media (max-width: 550px){
    .logo {
      width: 50px;
      height: 50px;
    }

    .nav-text{
      font-size: 17px;
    }
  }
  
  /* footer{
      border: 2px solid greenyellow;
    }
    footer .row{
      border: 2px solid greenyellow;
    } */
  
  
  
  
  #area-carousel {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 25px;
    /* border: 2px solid red; */
  
  }
  
  
  .carousel-caption {
  
    background-color: rgba(0, 0, 0, 0.7);
  }

  .whyschose {
    background: #fff;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .black {
    font-weight: 500;
    color:#070500;
  }

  .choose_bg {
    background: #048AFF;
  }

  .choose_bg .white_bg  {
    background: #fff;
    padding: 40px 20px;
    box-shadow: #ddd 0px 0px 10px 3px;
    margin-bottom: 5px;
  }
  .choose_bg .white_bg .for_box {
    text-align: center;
    padding: 1px ;
  }
  .choose_bg .white_bg .for_box i {display:block;}
  .choose_bg .white_bg .for_box {
    font-size: 26px;
      line-height: 21px;
    color: #070500;
    padding: 25px 0px 15px 0px ;
    display: inline-block; 
  }

  .choose_bg .white_bg .for_box p {
    color: #0d0c0a;
    font-size: 17px;
    line-height: 28px;
  }

  .read-more  {
  width: 190px;
  margin: 0 auto;
  background: #fff;
  display: block;
  border: #048AFF solid 2px;
  text-align: center;
  padding: 10px 0px;
  color: #0a0401 !important;
  font-size: 20px;
  margin-top: 40px;
  text-decoration: none;
  }
  .read-more:hover {
    background: #048AFF;
    color: #0a0401;
  }

  title {
    text-align:center;
    padding-bottom: 60px;
  
  }

  .title h2 {
    font-size: 50px;
    line-height: 55px;
    color: #048AFF;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 27px;
    position: relative;
    padding-bottom: 8px;
  }

  .title h2:after {
  position: relative;
  top: 100%;
  width: 110px;
  height: 10px;
  display: block;
  margin: 0 auto;
  background: #000;
  }

  .title span{
    color:#070500;
    font-size: 21px;
    line-height: 21px;
    margin-top: 20px;
    }

    .icon {
      height: 80px;
      margin-bottom: 25px;
    }

    .parallax {
      margin-top: 70px;
      margin-bottom: 70px;
      background-image: url("https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      min-height: 60vh;
    }

    .parallax h3 {
      margin: auto;
      font-size: 30px;
      color: white;
    }

    .home-testimonial{
      margin-bottom: 300px;
      background: linear-gradient(to left, #c706c7, #048AFF);
      height: 440px;
    }
    .home-testimonial-bottom{
      background-color: #f8f8f8;
      transition: background 0.3s, border 0.3s, 
      border-radius 0.3s, 
      box-shadow 0.3s;
      margin-top: 20px;
      margin-bottom: 0px;
      position: relative;
      height: 350px;
      top: 190px
    }
    .home-testimonial h3
    {color: var(--orange);
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase
    }
    .home-testimonial h2{
      color: white;
      font-size: 28px;
      font-weight: 700
    }
    .testimonial-inner{
      position: relative;
      top: -174px
    }
    .testimonial-pos{
      position: relative;
      top: 24px
    }
    .testimonial-inner .tour-desc{
      border-radius: 5px;
      padding: 40px
    }
    .color-grey-3{
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;color: #6c83a2
    }
    .testimonial-inner img.tm-people{
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      max-width: none
    }
    .link-name{
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      color: #6c83a2
    }
    .link-position{font-family: "Montserrat", Sans-serif;
      font-size: 12px;
      color: #6c83a2
    }

    .titulo-depoimento{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .card-content{
      height: 500px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .review-star{
      padding-top: 75px;
      
    }

    .review-star2{
      padding-top: 25px;
      
    }

    .access-button{
      width: 40%!important;
      border-radius: 50px!important;
      border: 5px solid #1516161f!important;
    }

    .social-media{
      text-align: center;
    }
    
    .social-media p{
      margin-bottom: 0;
    }
    
    #social-media-icon{
      color: rgb(39, 39, 39);
      font-size: 25px;
      padding-right: 5px;
      padding-left: 2px;
    }
