footer {
    /*border: 2px solid red; */
    bottom: 0;
    width: 100%;
    display: block;
  }

 
 footer p, .col{
    font-weight: 500;
    color:#ffffff;
  }

.principal {
    height: 700px;
    display: block;
  }

  .bg-azul {
    background-color: #969799;
  }

  .nav-link {
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
  }

  .nav-link:hover{
    color: rgb(0, 0, 0);
  }

  .nav-text {
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffff;
  }
  
  .logo {
    width: 75px;
    height: 75px;
  }

  .access-button{
    width: 40%!important;
    border-radius: 50px!important;
    border: 5px solid #1516161f!important;
  }

  h1{
    margin-top: 20px;
    text-align: center;
    padding-top: 120px;
  }

  .card {
    height: 94%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .card-title{
    padding-top: 20px;
    text-align: center;
  }

  .card-img {
    height: 200px;
    object-fit: cover;
    padding: 10px;
  }

  .card-body {
    padding: 20px;
  }

  .parallax {
    margin-top: 90px;
    background-image: url("/img/repair.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 40vh;
  }

  .parallax h3 {
    margin: auto;
    font-size: 30px;
    color: white;
  }

  .pricing-box {
    background: #f8f8f8;
    text-align: center;
}

.pricing-box-price {
    position: relative;
    padding: 20px 0 7px 0;
    background: #eee;
    font-size: 42px;
    color: #555;
    line-height: 54px;
}

.pricing-box-price span {
    font-size: 18px;
    color: #888;
    line-height: 32px;
}

.pricing-box-price strong
{
	font-weight: 500;
}

.pricing-box h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    background: #eee;
    color: #888;
}

.pricing-box h4 {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    background: #e8e8e8;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.pricing-box-features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-box-features li {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    
}

.btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover {
  background: #1d1d1d;
  color: white;
}

.pricing-box-sign-up {
    padding: 25px 0;
}

.pricing-box-best .pricing-box-price {
    background: #424242;
    color: #fff;
}

.pricing-box-best .pricing-box-price span {
    color: #fff;
}

.pricing-box-best h3 {
    background: #424242;
    color: #fff;
}

.pricing-box-best h4 {
    background: #333333;
    color: #fff;
}

.main_heading {
  margin: 50px 0px;
}

.main_heading h1
{
font-size: 45px;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  color: #777;
}

.underline{
    display: inline-block;
    width: 400px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #161616;
}

#price {
  font-family: Arial;
}

.social-media{
  text-align: center;
}

.social-media p{
  margin-bottom: 0;
}

#social-media-icon{
  color: rgb(39, 39, 39);
  font-size: 25px;
  padding-right: 5px;
  padding-left: 2px;
}