  
footer {
    /*border: 2px solid red; */
    bottom: 0;
    width: 100%;
    display: block;
  }

 
 footer p, .col{
    font-weight: 500;
    color:#ffffff;
  }

.principal {
    height: 700px;
    display: block;
  }

  .bg-azul {
    background-color: #969799;
  }

  .nav-link {
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
  }

  .nav-link:hover{
    color: rgb(0, 0, 0);
  }

  .nav-text {
    font-size: 1.2rem;
    font-weight: 500;
    color:#ffffff;
  }
  
  .logo {
    width: 75px;
    height: 75px;
  }

  .access-button{
    width: 40%!important;
    border-radius: 50px!important;
    border: 5px solid #1516161f!important;
  }

  h1{
    margin-top: 20px;
    text-align: center;
  }

  .card {
    height: 94%;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .card-title{
    padding-top: 20px;
    text-align: center;
  }

  .card-img {
    height: 200px;
    object-fit: cover;
    padding: 10px;
  }

  .card-body {
    padding: 20px;
  }

  .parallax {
    margin-top: 90px;
    margin-bottom: 70px;
    background-image: url("/img/repair.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 40vh;
  }

  .parallax h3 {
    margin: auto;
    font-size: 30px;
    color: white;
  }