/lib/owlCarousel/docs
/lib/owlCarousel/docs_src
/lib/owlCarousel/src
/lib/owlCarousel/test
/lib/owlCarousel/.gitignore

_config.json
.travis.yml
bower.json
CONTRIBUTING.md
Gruntfile.js
ISSUE_TEMPLATE.md
LICENSE
package-lock.json
package.json
README.md
ROADMAP.md

